# from ./docker/cached/.gitignore
docker/cached/**/logs
docker/cached/**/*.log
docker/cached/**/npm-debug.log*
docker/cached/**/yarn-debug.log*
docker/cached/**/yarn-error.log*
docker/cached/**/pnpm-debug.log*
docker/cached/**/lerna-debug.log*
docker/cached/**/node_modules
docker/cached/**/dist
docker/cached/**/dist-ssr
docker/cached/**/*.local
docker/cached/**/.vscode/*
!docker/cached/**/.vscode/extensions.json
docker/cached/**/.idea
docker/cached/**/.DS_Store
docker/cached/**/*.suo
docker/cached/**/*.ntvs*
docker/cached/**/*.njsproj
docker/cached/**/*.sln
docker/cached/**/*.sw?
docker/cached/**/.env*
!docker/cached/**/.env.example
docker/cached/**/.eslintcache
docker/cached/**/.prettier-cache
docker/cached/**/playwright/.auth/
docker/cached/**/test-results/
docker/cached/**/playwright-report/
docker/cached/.docker-cache
docker/cached/docker/cached
docker/cached/src-tauri/target/
docker/cached/src-tauri/gen/schemas
docker/cached/**/.local-uncommitable
docker/cached/**/tsconfig.tsbuildinfo
docker/cached/**/tsconfig.node.tsbuildinfo

# from ./src-tauri/gen/android/app/.gitignore
src-tauri/gen/android/app/src/main/java/com/agent_one/generated
src-tauri/gen/android/app/src/main/jniLibs/**/*.so
src-tauri/gen/android/app/src/main/assets/tauri.conf.json
src-tauri/gen/android/app/tauri.build.gradle.kts
src-tauri/gen/android/app/proguard-tauri.pro
src-tauri/gen/android/app/tauri.properties

# from ./src-tauri/gen/android/.gitignore
src-tauri/gen/android/**/*.iml
src-tauri/gen/android/**/.gradle
src-tauri/gen/android/local.properties
src-tauri/gen/android/.idea/caches
src-tauri/gen/android/.idea/libraries
src-tauri/gen/android/.idea/modules.xml
src-tauri/gen/android/.idea/workspace.xml
src-tauri/gen/android/.idea/navEditor.xml
src-tauri/gen/android/.idea/assetWizardSettings.xml
src-tauri/gen/android/**/.DS_Store
src-tauri/gen/android/**/build
src-tauri/gen/android/captures
src-tauri/gen/android/**/.externalNativeBuild
src-tauri/gen/android/**/.cxx
src-tauri/gen/android/**/local.properties
src-tauri/gen/android/**/key.properties
src-tauri/gen/android/.tauri
src-tauri/gen/android/tauri.settings.gradle

# from ./src-tauri/gen/android/.idea/.gitignore
src-tauri/gen/android/.idea/shelf/
src-tauri/gen/android/.idea/workspace.xml

# from ./src-tauri/.gitignore
src-tauri/target/
src-tauri/gen/schemas
