# from ./src/assets/fonts/.prettierignore
src/assets/fonts/**/*.ttf
src/assets/fonts/**/static/*

# from ./src/assets/mcp-registry/.prettierignore
src/assets/mcp-registry/**/*.json

# from ./src/assets/model-lists/.prettierignore
src/assets/model-lists/**/*.json

# from ./src-tauri/gen/android/app/.gitignore
src-tauri/gen/android/app/src/main/java/com/agent_one/generated
src-tauri/gen/android/app/src/main/jniLibs/**/*.so
src-tauri/gen/android/app/src/main/assets/tauri.conf.json
src-tauri/gen/android/app/tauri.build.gradle.kts
src-tauri/gen/android/app/proguard-tauri.pro
src-tauri/gen/android/app/tauri.properties

# from ./src-tauri/gen/android/.gitignore
src-tauri/gen/android/**/*.iml
src-tauri/gen/android/**/.gradle
src-tauri/gen/android/local.properties
src-tauri/gen/android/.idea/caches
src-tauri/gen/android/.idea/libraries
src-tauri/gen/android/.idea/modules.xml
src-tauri/gen/android/.idea/workspace.xml
src-tauri/gen/android/.idea/navEditor.xml
src-tauri/gen/android/.idea/assetWizardSettings.xml
src-tauri/gen/android/**/.DS_Store
src-tauri/gen/android/**/build
src-tauri/gen/android/captures
src-tauri/gen/android/**/.externalNativeBuild
src-tauri/gen/android/**/.cxx
src-tauri/gen/android/**/local.properties
src-tauri/gen/android/**/key.properties
src-tauri/gen/android/.tauri
src-tauri/gen/android/tauri.settings.gradle

# from ./src-tauri/.gitignore
src-tauri/target/
src-tauri/gen/schemas

# manually ignored
package-lock.json
*.log
